<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CRCMS_newEntities" connectionString="metadata=res://*/Model.CRCMS_new.csdl|res://*/Model.CRCMS_new.ssdl|res://*/Model.CRCMS_new.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.111.43;initial catalog=CRCMS_new;user id=sa;password=Ev4865;max pool size=1000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CRCMS_newEntities1" connectionString="metadata=res://*/Model.CRCMS_new.csdl|res://*/Model.CRCMS_new.ssdl|res://*/Model.CRCMS_new.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.111.43;initial catalog=CRCMS_new;user id=sa;password=Ev4865;max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>